@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    60%{
        transform: rotate(20deg);
    }
    75%{
        transform: translateX(5%);
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }
    60%{
        transform: rotate(20deg);
    }
    75%{
        transform: translateX(-5%);
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}